@charset "utf-8";

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Readex Pro', sans-serif;
}

.topbar1 {
    width: auto;
    height: 10ex;
    border-radius: 1000px;
    margin-top: 1%;
    background-color: #c2d09f;
    position: fixed;
    margin-right: 10%;
    margin-left: 10%;
    letter-spacing: 5px;
    
}

.topbar1-1{
    width: auto;
    height: 10ex;
    border-radius: 1000px;
    background:linear-gradient(25deg, #d9f245, #bef645);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.topbartext {
    margin-left: 2%;
    font-size: 1.6em;
    color: #758256;
    text-decoration: none;
    background:linear-gradient(transparent 100%, rgb(233, 233, 233) 60%);
    
}
.topbartext:hover {
    transition: 0.3s;
    margin-left: 2%;
    font-size: 1.6em;
    color: #758256;
    text-decoration: none;
    background:linear-gradient(transparent 80%, rgb(233, 233, 233) 60%);
}

.topbartext1 {
    margin-left: 2%;
    font-size: 160%;
    color: #758256;
    text-decoration: none;
}
