@charset "utf-8";

.mozi{
  margin-left: 2%;
  margin-right: 2%;
}

.dekamozi {
  color: #766a44;
  font-size: 500%;
}

.minimozi{
  color: #766a44;
  font-size: 120%;
  letter-spacing: 4px;
}

.titlemozi {
  color: #766a44;
  font-size: 400%;
  text-align: center;
  letter-spacing: 5px;
}

.part1 {
  text-align: center;
}

.part2 {
  margin-top: 20%;
  width: 100%;
  height: 150ex;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,95,255,1) 100%);
  text-align: center;
}

.name {
  font-size: 500%;
  letter-spacing: 20px;
  margin-top: -3%;
}

.subname {
  font-size:100%;
  margin-top: -2%; 
  letter-spacing: 8px;
}

.hello {
  color: #fff;
  font-size: 800%;
  letter-spacing: 8px;
}

.minihello {
  color: #fff;
  font-size: 10%;
  letter-spacing: 1px;
}